h1{
	font-family:"Arial";
	color:#ffffff;
	leading:0px;
	font-size:21px;
	letterSpacing:0.5px;
}

p{
	font-family:"Arial";
	color:#ffffff;
	leading:2px;
	letterSpacing:0.2px;
	font-size:12px;
}